html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}
.setup-btn {
  margin-top: 30px;
  margin-left: 50px;
}

.btn-primary {
  color: #fff;
  background: #16364d;
  background-image: none;
  border: 1px #12344d solid;
}

.btn-primary:focus {
  background-color: #0D2638;
}

.btn-primary:hover {
  background-color: #0D2638;
  border: 1px #12344d solid;
}
.left {
  margin-left: 55px;
}